.stopwatch {
    width: 45%;
    max-width: 500px;
}

.timer {
    width: 100%;
    display: flex;
    color: white;
    padding: 0;
    font-size: 6rem;
    justify-content: space-around;
    align-items: center;
}

.timer span {
    width: 120px;
}

.buttons { 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button {
    width: 150px;
    font-family: 'Varela Round';
    font-weight: bold;
    letter-spacing: 0.3rem;
    color: whitesmoke;
    padding: 5px 15px;
    font-size: 1.4rem;
    background: #808080;
    border-radius: 4px 4px 8px 8px;
    border: none;
    border-bottom: .5px solid #535353;
    box-shadow: 0 8px #3f3f3f;
}

.button:active {
    box-shadow: 0 4px #21526e;
    transform: translateY(4px);
    background: #a0a0a0;
}

.button:focus {
    outline: 0;
}

.button:disabled {
    background: #ADADAD;
    box-shadow: 0 4px #808080;
    transform: translateY(4px);
    opacity: .7;
}