@media (max-width: 1300px){
    .timer {
        font-size: 2rem;
    }
}



@media (max-width: 700px){
    .container {
        width: 100vw;
        flex-direction: column;
    }

    .stopwatch {
        width: 100%;
    }

    .timer {
        font-size: 4rem;
        padding: 0;
        width: 100%;
    }

    .timer span {
        width: 60px;
    }

    .buttons {
        width: 100%;
        flex-direction: column;
    }

    .button {
        margin-top: 50px;
    }
    
    .aside.board {
        width: 100%;
    }
}
