aside.board {
    background: #C4C4C4;
    width: 46%;
    max-width: 800px;
    max-height: 90%;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-board {
    background: #999999;
    border-radius: 10px 10px 0 0;
    
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-board-title {
    margin: 0 auto;
    padding: 20px 0 10px;
    font-size: 48px;
    color: #FFFFFF;
}

.split-elements {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-height: 400px;
    overflow: auto;
    margin: 40px 20px;
}

.split-element {
    background: #DFD9D9;
    list-style: none;
    width: 80%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.split-element span {
    color: #707285;
    font-family: 'Josefin Sans', serif;
    font-weight: bold;
    letter-spacing: 10px;
    padding: 16px 0 12px;
}


/**Scrollbar*/

::-webkit-scrollbar {
    height:  12px;
    margin: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
